@model WebApplication1.Models.IndexViewModel


@ViewBag.Error

@try{
    @ViewBag.Save.CustomerID;<br />
    @ViewBag.Save.CustomerName;<br />
    @ViewBag.Save.EmployeeID;<br />
    @ViewBag.Save.EmployeeName;<br />
    @ViewBag.Save.Freight;<br />
    @ViewBag.Save.OrderDate;<br />
    @ViewBag.Save.OrderID;<br />
    @ViewBag.Save.RequireDate;<br />
    @ViewBag.Save.ShipAddres;<br />
    @ViewBag.Save.ShipCity;<br />
    @ViewBag.Save.ShipCountry;<br />
    @ViewBag.Save.ShipName;<br />
    @ViewBag.Save.ShippedDate;<br />
    @ViewBag.Save.ShipperID;<br />
    @ViewBag.Save.ShipperName;<br />
    @ViewBag.Save.ShipPostalCode;<br />
    @ViewBag.Save.ShipRegion;<br />


    using (Html.BeginForm("DeleteOrder", "Order"))
    {
        <input type="hidden" name="OrderID" value=@ViewBag.Save.OrderID />
        <input type="submit" value="刪除這筆資料" />
    }
}
catch (Exception e)
{
    <div>
        沒有這個 ID 呦
    </div>
}


