@model WebApplication1.Models.Class1

@using (Html.BeginForm("UpdateOrder", "Order"))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>訂單修改</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OrderID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.Order.OrderID
                <input type="hidden" name="OrderID" value=@ViewBag.Order.OrderID />
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.Order.CustomerID } })
                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.Order.EmployeeID } })
                @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control", @type = "Date", @Value = @ViewBag.OrderDate } })
                @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequireDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequireDate, new { htmlAttributes = new { @class = "form-control", @type = "Date", @Value = @ViewBag.RequireDate } })
                @Html.ValidationMessageFor(model => model.RequireDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippedDate, new { htmlAttributes = new { @class = "form-control", @type = "Date", @Value = @ViewBag.ShippedDate } })
                @Html.ValidationMessageFor(model => model.ShippedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipperID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipperID, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.Order.ShipperID } })
                @Html.ValidationMessageFor(model => model.ShipperID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Freight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Freight, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.Order.Freight } })
                @Html.ValidationMessageFor(model => model.Freight, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipName, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.Order.ShipName } })
                @Html.ValidationMessageFor(model => model.ShipName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipAddres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipAddres, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.Order.ShipAddres } })
                @Html.ValidationMessageFor(model => model.ShipAddres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipCity, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.Order.ShipCity } })
                @Html.ValidationMessageFor(model => model.ShipCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipRegion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipRegion, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.Order.ShipRegion } })
                @Html.ValidationMessageFor(model => model.ShipRegion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipPostalCode, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.Order.ShipPostalCode } })
                @Html.ValidationMessageFor(model => model.ShipPostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipCountry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShipCountry, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.Order.ShipCountry } })
                @Html.ValidationMessageFor(model => model.ShipCountry, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="OrderDetail">
            <h4>訂單明細</h4>
            <table>
                <tr>
                    <td>@Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>@Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>@Html.LabelFor(model => model.Qty, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>@Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                </tr>
                @for (int i = 0; i < ViewBag.OrderProductName.Count; i++)
                {
                    <tr>
                        <td>
                            <select name="ProductID[]">
                                @for (int j = 0; j < ViewBag.ProductID.Count; j++)
                                {
                                    if (@ViewBag.ProductID[j] == ViewBag.OrderDetail[i].ProductID)
                                    {
                                        <option value=@ViewBag.ProductID[j]  selected>@ViewBag.ProductName[j]</option>
                                    }
                                    else
                                    {
                                        <option value=@ViewBag.ProductID[j]>@ViewBag.ProductName[j]</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input type="text" name="UnitPrice[]" class = "form-control" value=@ViewBag.OrderDetail[i].UnitPrice />
                        </td>
                        <td>
                            <input type="text" name="Qty[]" class="form-control" value=@ViewBag.OrderDetail[i].Qty />
                        </td>
                        <td>
                            <input type="text" name="Discount[]" class="form-control" value=@ViewBag.OrderDetail[i].Discount />
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回首頁", "Index")
</div>
